<!DOCTYPE html>
<html>
    <body>
        <div style="display: flex; justify-content: center;">
            <ul class="social-icons" style="display: flex; list-style: none; padding: 0;">
              <li ><a href="https://www.facebook.com/profile.php?id=100094272496975&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook fa-2x" style="color: #1877F2;"></i></a></li>
              <li ><a href="https://twitter.com/printing_s54375?t=e6H9PUsitJH4ywggJIxdEA&s=09" target="_blank"><i class="fab fa-twitter fa-2x" style="color: #1DA1F2;"></i></a></li>
              <li ><a href="https://instagram.com/al.salam.printing?igshid=MzNlNGNkZWQ4Mg==" target="_blank"><i class="fab fa-instagram fa-2x" style="color: #C13584;"></i></a></li>
              <li ><a href="https://wa.me/+962795319964" target="_blank"><i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i></a></li>
              <li><a href="https://www.tiktok.com/@user93669585833932?_t=8dkPH9QGT3Q&_r=1" target="_blank"><i class="fab fa-tiktok fa-2x" style="color: #000;"></i></a></li>
            </ul>
          </div>
          
          <style>
          .social-icons {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
          }
          
          .social-icons li {
            margin: 15px;
          }
          
          .social-icons li:hover i {
            transform: scale(1.2); /* Increase the size by 20% on hover */
          }
          </style>
          
    </body>
</html>