/* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=PT+Sans:wght@700&family=Quicksand:wght@300&family=Tajawal:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=PT+Sans:wght@700&family=Quicksand:wght@300&family=Tajawal:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=PT+Sans:wght@700&family=Quicksand:wght@300&family=Source+Sans+3:wght@400;600&family=Tajawal:wght@500&display=swap');

/* @font-face {
  font-family: 'Tajawal';
  src: url('./font/Tajawal-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Almarai';
  src: url('./font/Almarai-Bold.ttf') format('ttf');
} */
.app.rtl {
    direction: rtl;
    
  }
  
  .app.rtl .content {
    margin-left: 0;
    margin-right: 0; /* Adjust this value according to the width of the sidebar */
   

  }
  
  .app.rtl .navbar {
    left: auto;
    right: 0;
  }

html,
body,
#root,
.app .rtl,
.content{
  height:100%;
  width:100%;
  font-family: 'Tajawal', sans-serif !important;
}

.app{
  display:flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;

}
/* Handle on Hover */
::-webkit-scrollbar-thumb:hover{
  background:#555;
}

.font-ar {
  font-family: "Almarai", sans-serif !important;
}

.font-en {
  font-family: "Source Sans Pro", sans-serif !important; 
}

